<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:ndroid="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Apk_pelayanan_publik_Desa_Jatirejo"
        tools:targetApi="31">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <meta-data
            android:name="com.google.android.youtube.API_KEY"
            android:value="YOUR_YOUTUBE_API_KEY" />
        <activity
            android:name=".pdfProposalview"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".detail_pengaju_tender"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".vooting_tender"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".pengajuan_tender"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".tender_1"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".tender_main"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".sraan_masukan"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Laporan_keuangan"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".rencana_anggaran"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".keuangan_desa"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".profil_desa"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".detail_berita"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".sk_bs_menikah"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".sk_meninggal_dunia"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".sk_domisili"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".sk_tidak_mampu"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".pengurusan_surat"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".berita"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".home_dashboard"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".register_akun"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>